@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: Outfit;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: hsl(33, 11%, 16%); */
  background-color: #021526;
  color: #fff;
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 5s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

